#container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #ebebeb;
}

td {
  width: 30px;
  height: 30px;
}
table {
  border-collapse: separate;
  border-spacing: 40px;
  position: absolute;
}
.vertical {
  border-left: 4px solid black;
  border-right: 4px solid black;
}
.horizontal {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
.p-t {
  padding-top: 25px;
}

.login-form {
  width: 650px;
  height: 400px;
  background: #ffffff;
  border: none;
  box-shadow: 0px 6px 8px 2px #d3d3d3;
  position: relative;

  .header-form {
    top: 0;
    position: absolute;
    margin: 25px 0 0 25px;
    h3 {
      font-size: 16px;
      margin: 0;
      font-style: italic;
      span {
        font-weight: 600;
      }
    }
    .sub-header-form {
      font-size: 12px;
    }
  }

  .group-form {
    width: 60%;
    position: relative;
    margin: 12% auto;

    .input-text {
      display: block;
      width: 100%;
      height: 30px;
      background: #ffffff00;
      font-size: 12px;
      color: #000000;
      border: none;
      border-bottom: 2px solid #000000;
      margin-bottom: 30px;
      line-height: 1.2;
      outline: none;
      overflow: visible;
      transition: all 0.4s;
    }
    .input-text::placeholder {
      color: #000000;
      opacity: 1;
      font-weight: 600;
      font-size: 12px;
    }

    .btn-face,
    .btn-google {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 600;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: calc((100% - 0px) / 2);
      height: 40px;
      border: 2px solid #000000;
      background-color: #fff;
      transition: all 0.4s;
    }

    .w-box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      -ms-align-items: center;
      align-items: center;
      padding-top: 40px;
      transition: all 0.4s;

      input[type="checkbox"],
      input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
      }
      .input-checkbox {
        display: none;
        outline: none;
        border: none;
      }
      .label-checkbox {
        font-size: 12px;
        font-weight: 600;
        color: #000000;
        position: relative;
        padding-left: 26px;
        cursor: pointer;
      }

      .input-checkbox:checked + .label-checkbox::before {
        color: #000000;
      }

      .label-checkbox::before {
        content: "✔";
        font-family: FontAwesome;
        font-size: 12px;
        color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 14px;
        height: 14px;
        background: #fff;
        border: 2px solid #000000;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
      }
      .forget-pwd {
        font-size: 12px;
        font-weight: 600;
        color: #000000;
        text-decoration: none;
        transition: all 0.4s;
      }
    }
  }
  .w-box-full {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;

    .login-btn {
      border: none;
      background: black;
      color: #fff;
      outline: none;
      padding: 16px 50px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      transition: all 0.4s;
    }
    span {
      padding-left: 30px;
      font-size: 12px;
      transition: all 0.4s;
      a {
        text-decoration: none;
        color: black;
        font-weight: 600;
      }
    }
  }
}

.text-footer {
  text-align: center;
  font-size: x-small;
  margin: 0;
}

// Media queries

@media (max-width: 850px) {
  .group-form {
    margin: 20% auto !important;
  }
}

@media (max-width: 590px) {
  .vertical,
  .horizontal {
    display: none;
  }

  .header-form {
    h3 {
      font-size: 12px !important;
    }
    .sub-header-form {
      font-size: 9px !important;
    }
  }
  .group-form {
    margin: 28% auto !important;
    .p-t {
      padding-top: 15px;
    }
    .btn-face,
    .btn-google {
      width: calc((100% - 0px) / 1) !important;
    }
    .btn-face {
      border-bottom: 0 !important;
      //border-right: 2px !important;
    }
  }

  .w-box {
    .forget-pwd,
    .label-checkbox,
    .label-checkbox::before {
      font-size: 10px !important;
    }
    .label-checkbox::before {
      width: 10px !important;
      height: 10px !important;
    }
  }

  .login-form {
    .w-box-full {
      display: block;
      justify-content: center;
      span {
        font-size: 10px;
      }
      .login-btn {
        width: 100%;
        font-size: 12px;
      }
    }
  }
}

@media (min-width: 590px) {
  .btn-face {
    border-right: 0 !important;
  }
}

@media (max-width: 510px) {
  .group-form {
    margin: 40% auto !important;
  }
  .login-form-checkbox {
    display: none;
  }
}
