<ion-content [fullscreen]="true">
  <div id="container">
    <table>
      <tr>
        <td></td>
        <td class="vertical"></td>
        <td></td>
      </tr>
      <tr>
        <td class="horizontal"></td>
        <td class="login-form">
          <div class="header-form">
            <h3>HOW TO <span>PUSH</span></h3>
            <span class="sub-header-form">Notification's provider</span>
          </div>
          <div class="group-form">
            <input class="input-text" type="text" placeholder="LOGIN" />
            <input class="input-text" type="password" placeholder="PASSWORD" />
            <div class="p-t">
              <a href="#" class="btn-face">
                <i class="fa fa-facebook-official"></i>
                Using Facebook
              </a>
              <a href="#" class="btn-google">
                <i class="fa fa-facebook-official"></i>
                Using Google
              </a>
            </div>
            <div class="w-box">
              <div class="login-form-checkbox">
                <input class="input-checkbox" id="checkbox" type="checkbox" />
                <label class="label-checkbox" for="checkbox">
                  Stay Logged in
                </label>
              </div>

              <div>
                <a href="#" class="forget-pwd"> Forgot Password? </a>
              </div>
            </div>
          </div>
          <div class="w-box-full">
            <span> Don't have an account?<a href="#"> SIGN UP </a> </span>
            <button class="login-btn">Log in</button>
          </div>
        </td>
        <td class="horizontal"></td>
      </tr>
      <tr>
        <td></td>
        <td class="vertical">
          <p class="text-footer">HOW TO PUSH 2018</p>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
</ion-content>
